canvas {
    background: blue;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center 
}
body{
     display: flex;
  align-items: center;
  justify-content: center
}

